﻿
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to my blog</h1>
            <hr>
            <a href="@Url.Action("ListArticle", "Article")" class="btn btn-primary btn-xl page-scroll">View all articles</a>
            <a href="@Url.Action("AddArticle", "Article")" class="btn btn-primary btn-xl page-scroll">Add new article</a>
            @{ if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("ManageUsers", "Account")" class="btn btn-primary btn-xl page-scroll">Manage users</a>
                }}
            <a href="@Url.Action("LogOut", "Account")" class="btn btn-primary btn-xl page-scroll">Log Out</a>
        </div>
    </div>