﻿
@model  BlogTestProject.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<div class="container" style="max-width: 280px">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">User name</label>    

        <input type="text" id="inputEmail" class="form-control" name="UserName" placeholder="User name" required="" autofocus="">
     
        <input type="password" id="inputPassword" class="form-control" name="Password" placeholder="Password" required="">
     
        <div class="checkbox">
            <input type="checkbox" name="RemeberMe" /> 
            <h5>Remember me</h5>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div><a href="@Url.Action("Registration", "Account")" class="btn btn-lg btn-primary btn-block">Registration</a></div>
    </form>
 
</div>

}










