﻿
@model IEnumerable<BlogTestProject.Models.UserViewModel>
<div class="container">
    <h2>Users:</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>User name</th>
                <th>User role</th>
                <th>Change role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>>
                    @{ if (item.IsUserAdmin)
                        {
                            <td>Admin</td>
                            <td><a href="@Url.Action("EditRole", "Account", item)" class="btn btn-primary btn-xl page-scroll">Change to user</a></td>
}
                        else
                        {
                            <td>User</td>
                            <td><a href="@Url.Action("EditRole", "Account", item)" class="btn btn-primary btn-xl page-scroll">Change to admin</a></td>
}
                    }
                   
                </tr>}
        </tbody>
    </table>   
    <div>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-xl page-scroll">Go back</a>
    </div>
</div>

