﻿@model  BlogTestProject.Models.RegistrationViewModel

@using (Html.BeginForm("Registration", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="container" style="max-width: 280px">

        <form class="form-signin">
            <h2 class="form-signin-heading">Registration form</h2>
            <label for="inputEmail" class="sr-only">User name</label>

            <input type="email"class="form-control" name="Email" placeholder="Email" required="">

            <input type="text" class="form-control" name="UserName" placeholder="User name" required="" autofocus="">

            <input type="password" class="form-control" name="Password" placeholder="Password" required="">
         
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>

    </div>

}
