﻿@model BlogTestProject.Models.ArticleViewModel

@using (Html.BeginForm("AddArticle", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<h2>Add a new article:</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2"> Enter the title:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Title)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" > Enter the text:</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Text)
        </div>
    </div>
 
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="file" name="file" id="file" style="width: 100%;" /> <br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Save" class="btn btn-primary btn-xl page-scroll" name="AddAction" />
        </div>
    </div>
    <div>
        <a href="@Url.Action("ListArticle", "Article")" class="btn btn-primary btn-xl page-scroll">Go back</a>
    </div>
</form> 
}