﻿@model IEnumerable<BlogTestProject.Models.ArticleViewModel>
<div class="container">
    <h2>List of Articles</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
                @{ if (User.IsInRole("Admin"))
                    {
                        <th>Hide the artice</th>
                    }}
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
       
                    <tr>
                        <td><a href="@Url.Action("ReadArticle", "Article", new { id = item.Id })">@item.Title</a></td>>
                        <td><img src="~/Images/@item.ImageUrl" width="100" height="100" class="img-thumbnail" /></td>
                        @{ if (item.AuthorId == ViewBag.CurrentLoggedUserId || User.IsInRole("Admin"))
                            {
                                <td><a href="@Url.Action("EditArticle", "Article", new { id = item.Id })" class="btn btn-primary btn-xl page-scroll">Edit Article</a></td>
                                <td><a href="@Url.Action("DeleteArticle", "Article", new { id = item.Id })" class="btn btn-primary btn-xl page-scroll">Delete Article</a></td>
}}
                        @{ if (User.IsInRole("Admin"))
                            {
                                if (item.IsVisible == false)
                                {
                                    <td><a href="@Url.Action("HideArticle", "Article", new { id = item.Id })" class="btn btn-primary btn-xl page-scroll">Unhide Article</a></td>
}
                                else
                                {
                                    <td><a href="@Url.Action("HideArticle", "Article", new { id = item.Id })" class="btn btn-primary btn-xl page-scroll">Hide Article</a></td>
}

                            }}
                    </tr>   
                            }
                            
        </tbody>
    </table>
    <div>
        <a href="@Url.Action("AddArticle", "Article")" class="btn btn-primary btn-xl page-scroll">Add a new article</a>
    </div>
    <div>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-xl page-scroll">Go back</a>
    </div>
</div>
