﻿@model BlogTestProject.Models.ArticleViewModel

<div class="row">
    <div class="col-md-8">
        <h2>@Html.DisplayTextFor(x => x.Title)</h2>

        <p>@Html.DisplayTextFor(x => x.Text)</p>
        <br><br>
    </div>
    <div class="col-md-4">
        <img src="~/Images/@Model.ImageUrl" width="100" height="100" />
    </div>



</div>
<a href="@Url.Action("ListArticle", "Article")"  class="btn btn-primary btn-xl page-scroll">Back</a>
